.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--dark-card-bg);
  border: 1px solid var(--dark-card-border);
}

.post-info {
  margin-bottom: 2em;
}

.post-info p:nth-child(1) {
  margin-bottom: 0.25em;
}

.post-info p:nth-child(2) {
  color: var(--dark-text-tertiary);
}

.post-content p {
  margin-bottom: 0.75em;
}

.post-img {
  margin: 1em 0;
  border-radius: 8px;
  overflow: hidden;
}

.white-space {
  width: 100%;
  height: 200px;
}
